body
{
    color: deeppink;
    text-align: center;
    font-family: Arial;
    font-size: x-large;
}
h2
{
    color: turquoise;
    text-align: left;
    font-family: 'Franklin Gothic Medium';
    font-size: smaller;
}
h3
{
    color: chartreuse;
    text-align: right;
    font-family: sans-serif;
    font-size: xx-small;
}
h4
{
    color: white;
    text-align: left;
    font-family: sans-serif;
    font-size: medium;
}
body
{
    background-color: black;
}
footer
    {
        color: yellow;
        text-align: left; 
        font-size: small;
        height: 150px; 
        position: absolute; left: 0%; bottom: 0%; width: 100%;
        margin-bottom: 0%;
    }
